/* common */
.el_bg{background: rgb(134,157,220);background: linear-gradient(140deg, rgba(134,157,220,1) 0%, rgba(205,217,227,1) 100%);}
.el_box{background-color:rgba(255,255,255,1);border-radius:30px;padding:30px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}
.el_box__txt{font-family:'GmarketSans';font-size:17px;font-weight:600;}
.ly_maxWd{width:1200px;margin-left:auto;margin-right:auto;}
@media print {
    .el_pdfBtn, .el_allBtn{display: none !important;}
    .ly_report{background: rgb(134,157,220);background: linear-gradient(140deg, rgba(134,157,220,1) 0%, rgba(205,217,227,1) 100%);}
    .bl_eachTB{display: table !important;}
}

/* new */
.ly_main{padding-top:10%;min-height:100vh;position:relative;background:rgb(216 224 247);}
.bl_main__logoBack{background:rgba(113,177,252,0.6);position:absolute;top:0;left:7%;z-index:1;width:23%;height:100vh;}
.bl_main__logo{font-size:400px;text-align:center;}
.bl_main__headBack{padding-left:35%;background:#7e6bfc;}
.bl_main__headWrap{padding:50px 0;}
.bl_main__headWrap *{color:#fff;}
.bl_main__cont{margin-left:35%;width:800px;margin-top:70px;}


/* main */
.el_box__main{display:inline-block;transition:bgChange 0.5s ease-in-out;width:40%}
/* .el_box__main .el_btnM:hover{animation:bgChange 0.3s forwards;} */
.el_box__icon{background:no-repeat center/80px;height:150px;width: 100%;}
.el_icon__interviewer{background-image:url('/img/icon/interviewer.png');}
.el_icon__interviewee{background-image:url('/img/icon/interviewee.png');}
.el_img{width:500px;height:500px;background:url('/img/main.png')no-repeat center/contain;}
/* @keyframes bgChange {
    from {background:white;}
    to {background: rgb(111,130,254);background: linear-gradient(180deg, rgba(111,130,254,1) 0%, rgba(104,171,253,1) 50%, rgba(208,224,240,1) 100%);}
} */

/* Loading */
.loading-container{display:flex;justify-content:center;align-items:center;height:100vh;/* 화면 전체 높이로 설정 */}

/* GetInfo */
.el_box__form h1{font-size:18px;color:#869ddc;border-bottom:2px dashed rgba(134,157,220,0.5);padding-bottom:15px;margin-bottom:30px;display:flex;justify-content:space-between;align-items:baseline;}
.el_box__form p{font-size:13px;color:#aaa;}
.el_box__form label{display:flex;align-items:center;margin-bottom:10px;}
.el_box__form label *{font-size:16px;}
.el_box__form label span{display:inline-block;width:70px;color:#aaa;}
.el_box__form label input{width:100%;padding:10px 15px;}
.el_box__form button:hover{color:#fff;border-color:#000;background-color:#000;background-image:url('/img/icon/arrow_white.png')}

/* Guide */
.el_box__cam *{font-size:17px;}
.el_box__mic{height:540px;}
.el_skipBtn{position:absolute;bottom:13px;right:0;}

/* Interview */
.el_interviewBtn{font-size:22px;border-width:3px;position:absolute;bottom:0;right:0;transform:translateY(130%);background-position:87% center;}
.el_nextBtn{text-indent:-10px;}
.el_camBtn{border:3px solid #000;}
.el_camBtn::before{margin-right:15px;content:"";display:inline-block;width:20px;height:20px;border-radius:50%;background:red;vertical-align:-2px;}
.el_camBtn__on{background:#fff;}
.el_camBtn__off{background-color:#000;color:#fff;}
.el_loadTxt{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:1;color:#fff;}
.el_video{width:49%;box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;}
.el_video video{display:block;width:100%;height:440px;background:#000;border-radius:30px;overflow:hidden;}

/* Report */
.ly_report{padding:50px 20px 100px;}
.ly_report *, .bl_each__question *{font-size:16px;}
.el_pdfBtn{background:url('/img/icon/download_white.png')no-repeat 86% center/18px #000;text-indent:-15px;width:160px;}
.el_chart{flex-shrink:0;width:500px;min-height:470px;background: rgb(111,130,254);background: linear-gradient(180deg, rgba(111,130,254,1) 0%, rgba(104,171,253,1) 50%, rgba(208,224,240,1) 100%);}
.el_chart__ttl{position:absolute;top:0;left:0;color:#fff;font-size:22px;margin:30px}
.el_chart text{font-size:14px!important;fill:rgba(255,255,255)!important;font-family:'NotoKr', sans-serif!important;}
.ly_report .el_box{margin-top:30px;background-color:rgba(255,255,255,0.7);}
.ly_report .el_box *{word-break:break-all;}
.ly_report .el_box__hover:hover{background-color:rgba(255,255,255,1);}
.ly_report h2{font-size:24px;margin-bottom:15px;font-weight:600;}
.el_box__each:hover{background-color:rgba(255,255,255,0.6);}
.bl_each{margin-top:30px;background:#fff;padding:15px;border-radius:30px;}
.bl_each__q{background: linear-gradient(90deg, #7e6bfc 0%, #71b1fc 100%);color:#fff;display:inline-flex;width:40px;height:40px;border-radius:50%;justify-content:center;align-items:center;font-family:'GmarketSans';font-size:20px;margin-right:22px;padding-top:2px;border:1px solid rgba(255,255,255,0.7);}
.bl_each__question{font-size:19px;display:flex;align-items:center;}
.bl_each__dots{width:40px;height:40px;background:url('/img/icon/dots_purple.png')no-repeat center/22px;}
.bl_eachTB{margin-top:10px;}
.bl_eachTB th, .bl_eachTB td{padding:10px;}
.bl_eachTB th{width:50px;text-align:left;}

/* 면접관 버전 */
.bl_search{display:flex;justify-content:space-between;border-radius:999px;padding:10px;}
.bl_search__input{width:100%;border-radius:999px;margin-right:10px;font-size:24px;border:none;padding:0 30px;}
.bl_search__btn{width:70px;height:70px;border-radius:50%;flex-shrink:0;}
.bl_search__btn::before{content:"";display:block;width:100%;height:100%;background:url('/img/icon/search_white.png')no-repeat center/70% transparent;}
.bl_search__btn:hover{background: linear-gradient(90deg, #7e6bfc 0%, #71b1fc 100%);}

.bl_exprience{background:rgb(255,255,255,0.2);padding:20px 0;border-radius:15px;}
.bl_exprience__ttl{font-size:24px;width:100px;}

.el_box__result{background:rgba(255,255,255,0.2);}
.bl_result{flex-shrink:0;flex-basis:100%;transition:flex-basis 0.5s ease;}
.bl_result.hp_on{flex-basis:400px;}
.bl_resumeList li{background:url('/img/icon/plus_black.png')no-repeat 97.5% center/34px #fff;border-radius:15px;margin-top:20px;padding:20px 30px;font-size:20px;cursor:pointer;}
.bl_resumeList li:first-child{margin-top:0;}
.bl_resumeList li:hover{background-color:rgba(255,255,255,0.6);}
.bl_resumeList li.hp_on{color:#fff;background:url('/img/icon/minus_white.png')no-repeat 95.5% center/22px #7e6bfc;}

.bl_resumeSummary{flex-grow:1;width:0px;padding:0;overflow:hidden;border-radius:15px;position:sticky;top:50px;transition:all 0.5s ease;}
.bl_resumeSummary.hp_on{width:auto;padding:30px;margin-left:30px;}

/* .bl_resumeSummary>*{display:none;}
.bl_resumeSummary.hp_on>*{display:inherit;} */

.bl_resumeSummary table{text-align:left;width:650px;}
.bl_resumeSummary table *{font-size:20px;}
.bl_resumeSummary table th{color:#777}
.bl_resumeSummary table td{padding:10px 40px;padding-right:0;}

/* 체크박스 */
.container{margin-left:30px;display:inline-flex;align-items:center;position:relative;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0;}
.checkmark{display:inline-block;height:25px;width:25px;background-color:#fff;margin-right:10px;border-radius:5px;}
.container input:checked ~ .checkmark{background-color:#000;}
.checkmark:after{content:"";position:absolute;display:none;}
.container input:checked ~ .checkmark:after{display:block;}
.container .checkmark:after{left:7px;top:5px;width:8px;height:14px;border:solid white;border-width: 0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

/* 파일첨부 */
.el_uploadBtn{background:url('/img/icon/upload_white.png')no-repeat 88% 32%/100px #000;width:80%;font-size:80px;line-height:1;padding:65px 0 50px;text-indent:-50px;margin:-50px auto 0;cursor:pointer;}

/* .filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
} */
