@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Dokdo&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'GmarketSans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
.protest-guerrilla {
font-family: "Protest Guerrilla", sans-serif;
font-weight: 400;
font-style: normal;
}